torch
# pip install torch --index-url https://download.pytorch.org/whl/rocm7.0  -- for amd gpu's {pip3 install torch torchvision --index-url https://download.pytorch.org/whl/rocm7.1] on linux go to https://pytorch.org/get-started/locally/
pylzma
tokenizers
tqdm
transformers
pyarrow
datasets